{% extends 'base.html' %}

{% block content %}
  <h1 class="heading-primary">Zmiana hasła</h1>
  {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
  {% endif %}
  <form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="old_password" class="form-label">Stare hasło:</label>
      <input type="password" id="old_password" name="old_password" class="form-input">
    </div>
    <div class="form-group">
      <label for="new_password1" class="form-label">Nowe hasło:</label>
      <input type="password" id="new_password1" name="new_password1" class="form-input">
    </div>
    <div class="form-group">
      <label for="new_password2" class="form-label">Potwierdź nowe hasło:</label>
      <input type="password" id="new_password2" name="new_password2" class="form-input">
    </div>
    <button type="submit" class="btn btn-primary">Zmień hasło</button>
  </form>
{% endblock %}
