{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="header--form-page">
  <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
        Oddaj rzeczy, których już nie chcesz<br />
        <span class="uppercase">potrzebującym</span>
      </h1>

      <div class="slogan--steps">
        <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
        <ul class="slogan--steps-boxes">
          <li>
            <div><em>1</em><span>Wybierz rzeczy</span></div>
          </li>
          <li>
            <div><em>2</em><span>Spakuj je w worki</span></div>
          </li>
          <li>
            <div><em>3</em><span>Wybierz fundację</span></div>
          </li>
          <li>
            <div><em>4</em><span>Zamów kuriera</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section class="form--steps">
  <div class="form--steps-instructions">
    <div class="form--steps-container">
      <h3>Ważne!</h3>
      <p data-step="1" class="active">
        Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
        wiedzieć komu najlepiej je przekazać.
      </p>
      <p data-step="2">
        Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
        wiedzieć komu najlepiej je przekazać.
      </p>
      <p data-step="3">
        Wybierz jedną, do
        której trafi Twoja przesyłka.
      </p>
      <p data-step="4">Podaj adres oraz termin odbioru rzeczy przez kuriera.</p>
    </div>
  </div>

  <div class="form--steps-container">
    <div class="form--steps-counter">Krok <span>1</span>/4</div>

    <form action="{% url 'add_donation' %}" method="post">
      <!-- STEP 1: class .active is switching steps -->
      <div data-step="1" class="active">
        <h3>Zaznacz co chcesz oddać:</h3>

        <div class="form-group form-group--checkbox">
          {% for category in categories %}
          <label>
            <input
              type="checkbox"
              name="quantity"
              value="{{ category.id }}"
            />
            <span class="checkbox"></span>
            <span class="description"
              >{{ category.name }}</span
            >
          </label>
          {% if not forloop.last %}
              <br>
          {% endif %}
          {% endfor %}
        </div>

        <div class="form-group form-group--buttons">
          <button type="button" class="btn next-step">Dalej</button>
        </div>
      </div>

      <!-- STEP 2 -->
      <div data-step="2">
        <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

        <div class="form-group form-group--inline">
          <label>
            Liczba 60l worków:
            <input type="number" name="bags" step="1" min="1" />
          </label>
        </div>

        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Wstecz</button>
          <button type="button" class="btn next-step">Dalej</button>
        </div>
      </div>

      <!-- STEP 3 -->
      <div data-step="3">
        <h3>Wybierz organizacje, której chcesz pomóc:</h3>

        <div class="form-group form-group--checkbox">
          {% for institution in institutions %}
          <label class="institution-label" style="display: none;" data-categories="{% for category in institution.categories.all %}{{ category.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
            <input type="radio" name="institution" value="{{ institution.id }}" />
            <span class="checkbox radio"></span>
            <span class="description">
              <div class="title">{{ institution.name }}</div>
              <div class="subtitle">Cel i misja: {{ institution.description }}</div>
            </span>
          </label>
          {% endfor %}
        </div>

        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Wstecz</button>
          <button type="button" class="btn next-step">Dalej</button>
        </div>
      </div>

      <!-- STEP 4 -->
      <div data-step="4">
        <h3>Podaj adres oraz termin odbioru rzeczy przez kuriera:</h3>

        <div class="form-section form-section--columns">
          <div class="form-section--column">
            <h4>Adres odbioru</h4>
            <div class="form-group form-group--inline">
              <label> Ulica <input type="text" name="address" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label> Miasto <input type="text" name="city" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Kod pocztowy <input type="text" name="zip_code" />
              </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Numer telefonu <input type="phone" name="phone_number" />
              </label>
            </div>
          </div>

          <div class="form-section--column">
            <h4>Termin odbioru</h4>
            <div class="form-group form-group--inline">
              <label> Data <input type="date" name="pick_up_date" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label> Godzina <input type="time" name="pick_up_time" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Uwagi dla kuriera
                <textarea name="pick_up_comment" rows="5"></textarea>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Wstecz</button>
          <button type="submit" class="btn">Potwierdzam</button>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      window.location.href = "{% url 'form_confirmation' %}";
    });

    const institutionLabels = document.querySelectorAll('.institution-label');

    function filterInstitutions(selectedCategories) {
      institutionLabels.forEach(label => {
        const categories = label.getAttribute('data-categories').split(',').map(Number);
        const matches = categories.some(cat => selectedCategories.includes(cat));
        label.style.display = matches ? 'block' : 'none';
      });
    }

    const categoryCheckboxes = document.querySelectorAll('input[name="quantity"]');
    const selectedCategories = [];
    categoryCheckboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          selectedCategories.push(parseInt(this.value));
        } else {
          const index = selectedCategories.indexOf(parseInt(this.value));
          if (index !== -1) {
            selectedCategories.splice(index, 1);
          }
        }
        filterInstitutions(selectedCategories);
      });
    });
  });
</script>

{% endblock %}
